
<!DOCTYPE html>
<html>
<head>
	<title> Tourist Guide Chat Bot | Log In</title>
    <link rel="shortcut icon" href="../static/CMSHub-500x500.jpeg">
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	
	<!--Custom styles-->
	<!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="../static/custom.css" rel="stylesheet">
    <style>
        .title {
            color: white;
            text-align: center;
            margin-top: 20px; /* Adjust the margin as needed */
            font-size: 24px; /* Adjust the font size as needed */
        }

        /* Add styles for the logo */
        .logo {
            display: block;
            margin: 0 auto;
            width: 200px; /* Adjust the logo width as needed */
            height: auto; /* Maintain aspect ratio */
        }
    </style>

</head>
<body>
<div class="container">
    <!-- Add welcome message with title and logo -->
    
    <img class="logo" src="../static/main-logo-transparent.png" alt="Chatbot Logo">
    <h3 class="title">Welcome to Tourist Guide Chat Bot</h3>
	<div class="d-flex justify-content-center h-50">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div> -->
			</div>
			<div class="card-body">
				<form action="/login" method="post">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input name="username" required type="text" class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input name="password" required type="password" class="form-control" placeholder="password">
					</div>
					
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
                <div class="d-flex justify-content-center links">
					Don't have an account?<a href="signup">Sign Up</a>
				</div>
				<!-- Display error messages -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				<div class="d-flex justify-content-center mt-3" role="alert">
                    <p style="color: red;">
                        {% for category, message in messages %}
                        {{ message }}<br>
                        {% endfor %}
                    </p>
				</div>
				{% endif %}
				{% endwith %}
				<!-- Display success message -->
				{% if success %}
				<div class="d-flex justify-content-center mt-3" role="alert">
					{{ success }}
				</div>
				{% endif %}
				
				<!-- <div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div> -->
			</div>
		</div>
	</div>
</div>
</body>
</html>